<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.singfung.blackfriday.dao.StockDAO">

    <resultMap type="com.singfung.blackfriday.model.Stock" id="baseMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="totalNum" column="totalNum" jdbcType="INTEGER"/>
        <result property="stockNum" column="stockNum" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="note" column="note" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert">
        insert into stock
        (id, totalNum, stockNum, version, note)
        values
        (#{id}, #{totalNum}, #{stockNum}, #{version}, #{note})
    </insert>

</mapper>